.profile-page {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1320px;
        max-width: 100%;
        height: calc(100vh - 93.5px);
        padding: 0px 10px;
        margin: 0 auto;

        h1 {
            font-weight: 800;
        }
    }
}